

.custom-logo {
    margin-left: 35px;
    margin-right: 5px;
    background-color: rgb(212, 237, 228);
}

.custom-logo-1 {
    margin-left: 700px;
}

.custom-logo-2 {
    margin-left: 100px;
    margin: auto;
}

.custom-logo-3 {
    margin-left: 10px;
}

.custom-nav {
        background-color: #38A538;
        height: 50px;
        
}

.custom-nav-1 {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 3px;
   
    
}

.custom-nav-2 {
   
    color: white;
    text-decoration: none;
    margin-left: 25px;    
}

.custom-nav-4 {
   
   color: white;
    
   
    
}

.custom-card {
        height: 300px;
}

.custom-height {
    border-color: black;
    margin-bottom: 10px;
    margin-left: 30px;
    border-style: solid;

}

.custom-box {
    width: 100%;
}

.custom-font {
    font-size: 15px;
}